[Unit]
Description={{.SystemdServiceName}} service
After=network.target

[Service]
User={{.DeployUser}}
{{.SystemdEnvironment}}
ExecStart={{.StartupScript}}
LimitNOFILE=65536 # used by doris_be

Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target
